* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$primary: #7b61ff;
$primary-secondary: #917cff;
$secondary: #80858b;
$black: #000000;
$dark: #242426;
$graphite: #323537;
$error: #ff5154;
$light: #afb2b6;
$white: #ffffff;
$green: #00a340;
$yellow: #f3a608;
$orange: #f45d2d;
