@import "/src/styles/colors.scss";

.containerCardList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    // background-color: #fff;
    margin-bottom: 20px;
    gap: 40px;
}
