@import "/src/styles/colors.scss";

.containerHeader {
    display: flex;
    gap: 186px;
    justify-content: space-between;
    align-items: center;
    .containerWrapper {
        display: flex;
        flex: 1;
        gap: 40px;
    }
}

.inputContainer {
    position: relative;
    flex: 1;
    .inputSearch {
    }
    .dropdown {
        position: absolute;
        padding: 16px;
        top: 64px;
        max-height: 500px;
        width: 100%;
        background-color: $dark;
        // border-bottom-left-radius: 10px;
        // border-bottom-right-radius: 10px;
        border-radius: 30px;
        overflow-y: scroll;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        gap: 10px;
        z-index: 49;
    }
}
.dropdownItem {
    display: flex;
    gap: 10px;
    padding: 4px;
    // border-radius: 5px;
    border-bottom: 1px solid $graphite ;
    img {
        width: 64px;
        height: 64px;
        border-radius: 5px;
    }
    &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.1);
    }
}
.dropdownItemInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow: hidden;
    width: 800px;
}
.dropdownItemTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    font-size: 18px;
}
.dropdownItemDescription {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// .header {
//     // height: 200px;
//     width: 100%;
//     justify-content: space-between;
//     margin: auto;
//     background-color: $primary;
// }
// .inputContainer {
//     z-index: 200;
//     display: flex;
//     width: 100%;
//     background-color: #fff;
// }
// .inputSearch {
//     flex: 1;
//     height: 100px;
//     background-color: #583b3b;
// }
// .closedSearch {
//     width: 40px;
// }

// // .darkContainer {
// //     background-color: $secondary;
// // }
// // .header {
// //     z-index: 100;

// //     width: 100%;
// //     position: fixed;
// //     display: flex;
// //     justify-content: space-between;
// //     margin: auto;
// //     background-color: $primary;
// // }

// // .infoContainer {
// //     margin: 156px auto 0 auto;
// // }

// // .footer {
// //     display: flex;
// //     justify-content: space-between;
// //     margin-top: 72px;
// //     padding: 32px 0;
// //     border-top: 1px solid $secondary;
// // }

// // .menuContainer {
// //     width: 236px;
// //     background-color: $white;
// //     position: fixed;
// //     top: 84px;
// //     height: calc(100% - 84px);
// //     display: flex;
// //     flex-direction: column;
// //     justify-content: space-between;
// // }
// // .burgerMenuButton {
// //     height: 84px;
// //     width: 84px;
// //     display: flex;
// //     justify-content: center;
// //     align-items: center;
// //     border-radius: 0;
// //     border-right: 1px solid $primary-secondary;
// // }
// // .buttonSearchUserRight {
// //     display: flex;
// // }
// // .searchButton {
// //     border-radius: 0;
// //     border-right: 1px solid $primary-secondary;
// //     border-left: 1px solid $primary-secondary;
// // }
// // .userButton {
// // }
// // .authButton {
// //     height: 84px;
// // }

// // .navLinkButton {
// //     padding: 32px;
// //     display: flex;
// //     justify-content: center;
// //     align-items: center;
// //     font-family: "Inter";
// //     font-weight: 600;
// //     font-size: 16px;
// //     line-height: 24px;
// //     color: $secondary;
// //     cursor: pointer;
// //     border-bottom: 1px solid $light;
// //     text-decoration: none;
// //     border-radius: none;

// //     &:hover {
// //         color: $primary;
// //     }
// // }
// // .userNameContainer {
// //     height: 84px;
// // }

// // .inputSearch {
// //     width: 100%;
// //     background-color: $primary-secondary;
// //     border: none;
// //     height: 100%;
// //     display: flex;
// //     color: $graphite;
// //     border-radius: none;
// // }
// // .inputContainer {
// //     position: relative;
// //     width: 100%;
// //     display: flex;
// //     align-items: center;
// // }
// // .closedSearch {
// //     background-color: $primary-secondary;
// //     height: 84px;
// //     border-radius: 0;
// // }
// // .dropdown {
// //     position: absolute;
// //     padding: 16px;
// //     top: 184px;
// //     max-height: 500px;
// //     width: 100%;
// //     background-color: white;
// //     border-bottom-left-radius: 10px;
// //     border-bottom-right-radius: 10px;
// //     overflow-y: scroll;
// //     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
// //     display: flex;
// //     flex-direction: column;
// //     gap: 10px;
// // }
