@import "/src/styles/colors.scss";
@import "/src/styles/mixin.scss";

.containerCard {
    // background-color: #fff;
    // display: flex;
    // flex-direction: column;
    // align-items: start;
    width: 266px;
    // justify-content: center;
    .imageContainer {
        width: 266px;
        margin-bottom: 24px;
        position: relative;
        border-radius: 20px;
        overflow: hidden;
        img {
            object-fit: contain;
            width: 100%;
        }
        .poster {
        }
        .rating {
            position: absolute;
            color: $white;
            top: 20px;
            left: 20px;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            background-color: $green;
            border-radius: 6px;
            width: 37px;
            height: 28px;
            @include flexCentr;
            cursor: pointer;
        }
        .bookmark {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 40px;
            height: 28px;
            border-radius: 6px;
            background-color: $dark;
            @include flexCentr;
            cursor: pointer;
        }
    }
    .name {
        color: $white;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        cursor: pointer;
        // display: inline-flex;
        &:hover {
            color: $primary;
        }
    }
    .genere {
        display: inline-flex;

        cursor: pointer;
        color: $light;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }
}
