@import "/src/styles/colors.scss";

.container {
    background-color: $graphite;
    border-radius: 10px;
    position: relative;
    width: 100%;
    position: relative;
    .input {
        margin: 0;
        // padding-right: 50px;
        // padding-left: 20px;
    }
    .filterIcon {
        position: absolute;
        right: 16px;
        margin: 0;
        padding: 0;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
}
.dawdaw {
    position: relative;
}
